// colors
$color-background: #ccc;
$color-messenger-bg: #fff;
$color-text-main: #000;
$color-box-shadow: rgba(0, 0, 0, 0.5);


$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #00A3FF;
$color-secondary: #0066FF;
$color-accent: #FF441B;
$color-error: #FF0000;
