:root {
  // Fonts
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 16px;
  --font-size-h4: 14px;

  --font-weight-regular: 400;
  --font-weight-light: 300;

  // Colors
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-lightest-gray: #F6F6F6;
  --color-gray: #929292;
  --color-primary: #00A3FF;
  --color-secondary: #0066FF;
  --color-accent: #FF441B;
  --color-error: #FF0000;

  // Shadows
  --shadow-1: 0 4 4px rgba(0, 0, 0, 0.25);
  --shadow-2: 0 2 4px rgba(0, 0, 0, 0.15);
  --shadow-focused: 0 0 10px rgba(0, 163, 255, 0.3);
  --shadow-accent: 0 0 10px rgba(255, 123, 95, 0.3);
}
